*{
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Karla', sans-serif; */
}

.landing-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #000000a6, #000000a6), url(assets/images/dark-wall-with-spot-lights-background_52683-42962.webp), no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 100px 100px 100px;
    border-bottom: 3px dashed #ffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 12% 12px 0;
}

.navbar h2 {
    color: #ffff;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.navbar h2 span {
    color: #88e488;
    font-style: normal;
}

.social-icons a{
    font-size: 20px;
    color: #ffff;
    margin-left: 20px;
    transition: 0.5s;
}

.social-icons a:hover {
    font-size: 23px;
    color: #88e488;
}

.menu-park {
    padding: 3% 8%;
    position: absolute;
}

.hamburger-menu {
    position: fixed;
    display: block;
    width: 50px;
    cursor: pointer;
    appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 999999;
    top: 20px;
    right: 7.5%;
    animation: animatemenu 3s linear infinite;
    animation-delay: 0s;
    transition: 0.5s;
}

 .hamburger-menu:after, .hamburger-menu:before {
    content: '';
    display: block;
    height: 4px;
    width: 80%;
    background: #88e488;
    margin: 6px 0;
    transition: 0.4s;
}

.is-active:before {
    transform: rotate(-45deg) translate(-7px, 1px);
}

.is-active .bar {
    opacity: 0;
}

.is-active:after{
    transform: rotate(45deg) translate(-5px, -1px);
}

.mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    left: 100%;
    width: 10%;
    min-height: 100vh;
    padding-top: 10%;
    background: #274427;
    z-index: 99;
    transition: 0.5s;
}

.mobile-nav.is-active {
    left: 90%;
}

.mobile-nav a {
    display: block;
    text-align: center;
    padding: 20px 0;
    text-decoration: none;
    color: #ffffffe3;
    font-size: 14px;
    border-top: solid 1px #ffffff9f;
    transition: 0.5s;
}

.mobile-nav a:last-child {
    border-bottom: solid 1px #ffffff9f;
}

.mobile-nav a:hover {
    padding-left: 10px;
    color: #ffff;
}

.mobile-nav i {
    font-size: 18px;
    margin-right: 5px;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-left h1 {
    color: #ffff;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 75px;
    margin-bottom: 33px;
    font-family: 'Bitter', serif;
}

.about-me-left h1 span{
    border-bottom: 4px solid #88e488;
}

.about-me-left p {
    color: #ffff;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 2px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    margin-bottom: 35px;
}

.about-me-left a, .connect-box a, .header-1-and-link a{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 2px solid #88e488;
    border-radius: 5px;
    transition: 0.5s;
}

.about-me-left a:hover, .connect-box a:hover {
    transform: translateY(-8px);
}

.about-me-left .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.services {
    width: 100%;
    height: 100vh;
    background: url(assets/images/black-background-with-focus-spot-light_1017-27230.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    border-bottom: 3px dashed #ffff;
}

.services h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Bitter', serif;
    color: #ffff;
}

.my-services {
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.services-front, .services-real {
    display: flex;
    justify-content: center;
    align-items: center;

}



.service-box {
    width: auto;
    border:  1.5px solid #ffff;
    background: #274427;
    border-radius: 20px;
    padding: 0 15px;
    cursor: pointer;
    flex-direction: column;
    text-align: left;
    margin-left: 5%;
    padding: 2% 2% 5% 2%;
    transition: 0.5s ease;
}

.service-box:hover {
    background: #000;
    color: #ffff;
    transform: scale(1.05);
}

.connect-box {
    background: #000;
    border: none;
    margin-left: 5px;
    border: 1.5px dashed #88e488;
}

.connect-box h3 {
    font-size: 32px;
    color: #ffff;
    line-height: 40px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    margin-bottom: 15px;
}

.connect-box a{
    margin-top: 12px;
}

.service-box img {
    width: auto;
    height: 60px;
    border-radius: 50%;
    margin-top: -100%;
    margin-left: 90%;
    background: #ffff;
    padding: 10px;
}

.service-box h4{
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 22px;
    color: #ffff;
}

.service-box p {
    line-height: 20px;
    font-size: 14px;
    color: #ffffffd3;
    font-weight: 500;
    width: auto;
}



.projects {
    width: 100%;
    height: auto;
    background: linear-gradient(0deg, #000000a6, #000000a6), url(assets/images/modern-dark-texture-background_1035-11632.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding: 50px 100px;
    border-bottom: 3px dashed #ffff;
}

.header-1-and-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-1-and-link h1 {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 700;
    letter-spacing: 3px;
    font-family: 'Bitter', serif;
    color: #ffff;
}

.project-real, .project-sub {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-box {
    margin-bottom: 50px;
}

.project-box img {
    height: 270px;
    width: 400px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.project-box img:hover{
    transform: translateY(12px);
}

.project-sub h3 {
    font-size: 17px;
    margin: 10px 0;
    font-weight: 700;
    letter-spacing: 2px;
    font-family: 'Bitter', serif;
    color: #ffff;
}

.plinks a{
    color: #88e488;
    font-size: 20px;
    margin-left: 15px;
    transition: 0.5s;
}

.plinks a:hover {
    font-size: 23px;
    color: #ffff;
}

.project-box h4 {
    color: #ffff;
    font-size: 13px;
}

.project-box h4 span {
    margin: 0 10px;
}





















@media screen and (max-width:900px) {
    .landing-page {
        height: auto;
        padding: 10px 10px 50px 10px;
    }
    .navbar {
        flex-direction: column;
        text-align: center;
        padding: 12px 0;
    }

    .navbar h2{
        margin-bottom: 20px;
    }

    .social-icons a{
        margin-right: 10px;
    }

    .social-icons a:first-child {
        margin-left: 0;
    }

    .mobile-nav {
        width: 27%;
        padding-top: 30%;
    }

    .mobile-nav.is-active {
        left: 75%;
    }

    .hamburger-menu {
        margin-right: 4%;
        top: 5%;
    }

    .about-me {
        flex-direction: column-reverse;
    }

    .about-me-left h1 {
        line-height: 40px;
        font-size: 27px;
        text-align: center;
        letter-spacing: 1.5px;
    }

    .about-me img {
        width: 250px;
        margin: 35px 0;
    }

    .about-me-left p {
        line-height: 20px;
        text-align: center;
    }

    .services {
        height: auto;
        text-align: center;
        background: linear-gradient(0deg, #000000a6, #0000006e), url(assets/images/black-background-with-focus-spot-light_1017-27230.webp);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .services h1 {
        margin-top: 20px;
        font-size: 35px;
    }

    .services-real {
        align-items: center;
        text-align: center;
        padding: 20px;
    }

    .services-front {
        flex-direction: column;
        text-align: center;
    }

    .service-box {
        padding: 10% 7% 7% 7%;
        height: auto;
        width: 300px;
    }

    .service-box p {
        line-height: 20px;
        font-size: 17px;
    }

    .connect-box {
        margin-left: 0;
        margin-bottom: 30px;
        padding: 12% 5% 12% 5%;
    }

    .projects {
        padding: 30px 10px;
    }

    .header-1-and-link h1 {
        font-size: 35px;
    }

    .project-real{
        flex-direction: column;
    }

    .project-box img{
        width: 300px;
    }
}


@media screen and (max-width:1100px)  {
    .landing-page{
        padding: 10px 20px 100px 20px;
    }

    .about-me-left h1 {
        font-size: 27px;
        line-height: 40px;
    }

    .services-real {
        display: flex;
        flex-direction: column;
    }

    .services-front {
        margin-bottom: 30px;
    }

    .project-box img{
        width: 300px;
    }

}