*{
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Karla', sans-serif; */
}

.landing-page {
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, #000000a6, #000000a6), url(assets/images/dark-wall-with-spot-lights-background_52683-42962.webp), no-repeat;
    background-position: center;
    background-size: cover;
    padding: 10px 100px 100px 100px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    z-index: 1;
}

.navbar h2 {
    color: #ffff;
    font-size: 25px;
    font-family: 'Karla', sans-serif;
    font-weight: 900;
    letter-spacing: 2px;
}

.social-icons a{
    font-size: 20px;
    color: #ffff;
    margin-left: 20px;
    transition: 0.5s;
}

.social-icons a:hover {
    font-size: 23px;
    color: #88e488;
}

.about-me {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me-left h1 {
    color: #ffff;
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 75px;
    margin-bottom: 33px;
    font-family: 'Bitter', serif;
}

.about-me-left h1 span{
    border-bottom: 4px solid #88e488;
}

.about-me-left p {
    color: #ffff;
    font-size: 17px;
    line-height: 27px;
    letter-spacing: 2px;
    font-family: 'Karla', sans-serif;
    font-weight: 500;
    margin-bottom: 35px;
}

.about-me-left a{
    display: inline-block;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffff;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 3px solid #88e488;
    transition: 0.5s;
}

.about-me-left a:hover {
    transform: translateY(-8px);
}

.about-me-left .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-me img {
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}


@media screen and (max-width:900px) {
    .landing-page {
        height: auto;
        padding: 10px 10px 50px 10px;
    }
    .navbar {
        flex-direction: column;
    }

    .navbar h2{
        margin-bottom: 20px;
    }

    .social-icons a{
        margin-right: 12px;
    }

    .social-icons a:first-child {
        margin-left: 0;
    }

    .about-me {
        flex-direction: column-reverse;
    }

    .about-me-left h1 {
        line-height: 40px;
        font-size: 30px;
        text-align: center;
    }

    .about-me img {
        width: 250px;
        margin: 35px 0;
    }

    .about-me-left p {
        line-height: 20px;
        text-align: center;
    }
}